@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* Links and Areas */
	a[href]:focus-visible,
	area[href]:focus-visible,
	/* Form Elements */
	input:not([type="hidden"]):focus-visible,
	textarea:focus-visible,
	button:focus-visible,
	select:focus-visible,
	/* Embedded Content */
	iframe:focus-visible,
	embed:focus-visible,
	object:focus-visible,
	/* Interactive Elements */
	details:focus-visible,
	summary:focus-visible,
	/* Audio & Video */
	audio[controls]:focus-visible,
	video[controls]:focus-visible,
	/* Draggable elements */
	[draggable="true"]:focus-visible,
	/* Content editable elements */
	[contenteditable="true"]:focus-visible,
	/* Elements with tabindex (this will also target elements that aren't natively focusable but are made focusable with tabindex) */
	[tabindex]:focus-visible {
		/* Your focus styles here */
		@apply outline-none focus:ring-2 focus:ring-stone-500 focus:ring-offset-4;
	}

	/*!* Links and Areas *!*/
	/*a[href]:focus:not(:focus-visible),*/
	/*area[href]:focus:not(:focus-visible),*/
	/*!* Form Elements *!*/
	/*input:not([type="hidden"]):focus:not(:focus-visible),*/
	/*textarea:focus:not(:focus-visible),*/
	/*button:focus:not(:focus-visible),*/
	/*select:focus:not(:focus-visible),*/
	/*!* Embedded Content *!*/
	/*iframe:focus:not(:focus-visible),*/
	/*embed:focus:not(:focus-visible),*/
	/*object:focus:not(:focus-visible),*/
	/*!* Interactive Elements *!*/
	/*details:focus:not(:focus-visible),*/
	/*summary:focus:not(:focus-visible),*/
	/*!* Audio & Video *!*/
	/*audio[controls]:focus:not(:focus-visible),*/
	/*video[controls]:focus:not(:focus-visible),*/
	/*!* Draggable elements *!*/
	/*[draggable="true"]:focus:not(:focus-visible),*/
	/*!* Content editable elements *!*/
	/*[contenteditable="true"]:focus:not(:focus-visible),*/
	/*!* Elements with tabindex (this will also target elements that aren't natively focusable but are made focusable with tabindex) *!*/
	/*[tabindex]:focus:not(:focus-visible) {*/
	/*	!* Your focus styles here *!*/
	/*	@apply outline-none*/
	/*}*/

	.prose input {
		font-size: inherit;
		line-height: inherit;
		@apply break-words;
	}
}

@layer utilities {
	.global-container {
		@apply container mx-auto px-4 md:px-8 lg:px-12;
	}
}
